.form {
  border-radius: 12px;
  background-color: #dfd5d5b5;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input {
  padding: 6px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(249, 241, 239);
}

.button {
  background-color: #b4abab;
  padding: 6px;
  border: none;
  border-radius: 10px;
  color: rgba(16, 14, 14, 0.781);
  font-weight: bold;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}
.button:hover {
  transform: scale(1.05);
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
